* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*default settings for font and so on*/
    font-size: 42px;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 470px;
    height: 650px;
    padding: 15px;
    border-radius: 15px;
    border: 15px solid transparent;
    background-color: rgb(134, 157, 143);
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.display {
    height: 15%;
    padding:0 5px;
    display: flex;
    align-items: end;
    justify-content: end; 
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.buttons-section{
    border: 2px solid black;
    flex: auto;
}

.button{

}